 /*ici,je rédige la feuille de style pour mettre en forme le fichier service.html*/
div{
    color:red;
    /* le code l'arrière-plan de la plage*/
    background-color:aqua;
    der-style:solidbor;
    

}
div{
   width: 150px;
   height: 200px;
   
}


/*Bordure simple(solide)*/
#divsolid{
    border-radius: 220px 125px 40px 45px;
    border:solid;
    width: 80px;
 
}

#divdouble{
    border-radius: 110px 115px 160px 280px;
    border:double;
    width: 90px;

}

#divdotted{
    border-radius: 140px 150px 260px 170px;
    border:dotted;
    width: 90px;
}

#divdashed{
    border-radius: 110px 150px 380px 70px;
    border:dashed;
    width: 90px;
}
#div{
    background: linear-gradient(40deg,#32156e, #e10b99);
    height: 300px;
    width: 300px;
    border-radius: 30% 70% 70% 30%/30% 58% 42% 70%;
    
}
