 /*ici,je rédige la feuille de style pour mettre en forme le fichier service.html*/
div{
    color:red;
    /* le code l'arrière-plan de la plage*/
    background-color:aqua;
    border-style:solid;
    
}
/*Bordure simple(solide)*/
#divsolid{
    border-radius: 20px 25px 40px 45px;
    border:solid;
    width: 80px;
 
}

#divdouble{
    border-radius: 10px 15px 60px 80px;
    border:double;
    width: 50px;

}

#divdotted{
    border-radius: 40px 50px 60px 70px;
    border:dotted;
    width: 30px;
}

#divdashed{
    border-radius: 10px 50px 80px 70px;
    border:dashed;
    width: 20px;
}
